.container {
    padding: 10px 20px;
    transition: .1s;
    cursor: pointer;
}

.container a {
    text-decoration: none;
    color: grey;
}

.container:hover {
    background: grey;
}

.container:hover a {
    color: #fff;
}